

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Project Visitor Commands</title>
</head>

<body bgcolor="#000000" text="#FFFFFF">


<font size=2 color="#ff0000"><b>Category:</b>
<a href="armor.html">Armor</a>
<a href="buildings.html">Building</a>
<a href="gear.html">Gear</a>
<a href="modifiers.html">Modifier</a>
<a href="rovers.html">Rover</a>
<a href="weapons.html">Weapon</a>
<a href="avatar.html">Avatars</a>
<a href="secret.html"><b>Top Secret!</a></b>
<br>
<b>Corporation:</b>
<a href="bfindex.html">BruteForce</a>
<a href="exindex.html">Extreme</a>
<a href="isindex.html">InfraStruct</a>
<a href="tcindex.html">ToyCo</a>
<a href="unindex.html">UN</a>
<a href="Commands.html">Game Commands</a>
<HR width = 100%>
</font>


<h3>
	<font color="#ff0000">
		Project Visitor Ingame commands.
	</font>
</h3>


<FONT SIZE="1">
<br> %worldchat - Toggles Worldchat on/off <br>

<br> %corpchat  - Toggles CorpChat on/off <br>

<br> %wc {msg} - Type this command and a message after to speak in worldchat. (default key is 'O')<br>

<br> %cc {msg} - Type this command and a message after to speak to your corporation. (default key is 'P') <br>

<br> %chatfilter - Turns chatfilter on/off <br>

<br> %ignorelist - Display the players that you are ignoring <br>

<br> %ignoreadd {playername} - This command followed by the players name (lowercase is fine) will add this player to your ignore list. <br>

<br> %ignoreremove {playername} - This command followed by the players name (lowercase is fine) will remove the player from your ignore list. <br>

<br> %yell {Playername} - To Private message a player, Example %yell TheMartian Hi. <br>

<br> %tutorial - Toggles newbie tutorial on/off <br>

<br> %clear - Sends the All clear alert to your mdn along with the camp id your in. <br>

<br> %version - Display the version of the game. <br>

<br> %ping - Get what the servers thinks your last ping was. (updates every 5 seconds or so) <br>

<br> %stats - Get your assets, V$'s, avatars tanked, camps owned, camps conquered, and game time played. (updates once per login) <br>

<br> %jits - count of jits in current camp (built and not built, not including those on avatar) <br>

<br> %mousescroll - turn mouse edge scrolling on and off for maps/windows <br>

<br> %calc - as calculator to do a calculation for you, use '%calc ?' for help <br>

<br> %lock - lock your main <br>

<br> %unlock - unlock you main <br>

<br> %help - Display the commands list. <br>

<br> %prod - Will display actual camp production, wells, and turret count. </br>

<br> %level {level number} - Will display the stats associated with supplied level. </br>


